export(glmer.slimr)
export(lmer.slimr)
importFrom(lme4,findbars)
importFrom(lme4,glmer)
importFrom(lme4,lmer)
importFrom(lme4,nobars)
importFrom(parallel,mccollect)
importFrom(parallel,mcparallel)
importFrom(tools,pskill)
